$accent-color: #00b0ff;
$dark-color: #23262e;
$light-color: #ffffff;

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $dark-color;
  color: $light-color;

  h1 {
    font-size: 4rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    padding-bottom: 0.4rem;
  }
  #intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80vh;

    #intro-divider {
      width: 7rem;
      border-width: 3px;
      border-radius: 3px;
      border-style: solid;
      border-color: $accent-color;
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    height: 20vh;

    a {
      color: $light-color;
      text-decoration: none;
      transition: 0.3s;
      padding: 0 0.3rem 1.5rem 0.3rem;
    }
    a:hover {
      color: $accent-color;
    }
    #credits {
      padding-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  html,
  body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    height: fill-available;
    height: -webkit-fill-available;
    overflow: hidden;
  }
}
