$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$dark-color: #353535;
$light-color: #ffffff;
$accent-color: #0072b5;
